SERVER_PORT=8080
SPRING_APP_NAME=cars-api

DB_HOST=localhost
DB_PORT=5432
DB_NAME=carsdb
DB_USER=carsuser
DB_PASSWORD=carspass

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_TIMEOUT=2000

JWT_SECRET=cars-api-super-secret-key-with-at-least-32-characters-123456

CURRENCY_CACHE_TTL=10
CURRENCY_API_PRIMARY=https://economia.awesomeapi.com.br/json/last/USD-BRL
CURRENCY_API_FALLBACK=https://api.frankfurter.app/latest?from=USD&to=BRL

LOG_LEVEL_ROOT=INFO
LOG_LEVEL_SECURITY=DEBUG
LOG_LEVEL_HIBERNATE_SQL=DEBUG

JPA_DDL_AUTO=update
JPA_OPEN_IN_VIEW=false
JPA_SHOW_SQL=false
JPA_FORMAT_SQL=true

MVC_PROBLEM_DETAILS_ENABLED=false